<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="~{base :: nav}"></div>

    <div class="container">
        <div class="container justify-content-center p-5">
            <form class="row g-3 mt-3" th:action="@{/parcels}" id="searchForm" th:object="${parcelDto}">

                <div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-4" for="responsible">Responsible</label>
                            <div class="col-8 ps-0 pe-0">
                                <input id="email" type="search" th:name="responsible" th:field="*{responsible}"
                                    th:value="${responsible}" class="form-control"
                                    placeholder="Email of responsible employee">
                            </div>
                        </div>
                    </div>
                </div>

                <div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-4" for="sender">Sender</label>
                            <div class="col-8 ps-0 pe-0">
                                <input id="email" type="search" th:name="sender" th:field="*{sender}"
                                    th:value="${sender}" class="form-control" placeholder="Email of sender">
                            </div>
                        </div>
                    </div>

                </div>
                <div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="col-md-4">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-4" for="receiver">Receiver</label>
                            <div class="col-8 ps-0 pe-0">
                                <input id="email" type="search" th:name="receiver" th:field="*{receiver}"
                                    th:value="${receiver}" class="form-control" placeholder="Email of receiver">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-6" for="startDate">Start date</label>
                            <div class="col-6 ps-0 pe-0">
                                <input type="date" class="form-control" id="startDate" th:name="startDate"
                                    th:field="*{startDate}" th:value="${startDate}" placeholder="startDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-6" for="endDate">End date</label>
                            <div class="col-6 ps-0 pe-0">
                                <input type="date" class="form-control" id="endDate" th:name="endDate"
                                    th:field="*{endDate}" th:value="${endDate}" placeholder="endDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="row">
                            <label class="input-group-text col-6" for="status">Status</label>
                            <div class="col-6 ps-0 pe-0">
                                <select class="form-control" th:name="status" th:field="*{status}">
                                    <option value="" text=""></option>
                                    <option th:each="statusOpt : ${T(com.lc.application.model.DeliveryStatus).values()}"
                                        th:value="${statusOpt}" th:text="${statusOpt}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="container">
                        <div class="row">
                            
                            <label class="input-group-text col-6">Paid</label>
                            <div class="col-6 ps-2 pe-0 d-flex align-items-center">
                                <input class="form-check-input mt-0" type="checkbox" th:name="isPaid"
                                    th:field="*{isPaid}" th:value="${isPaid}" id="isPaid">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-9"></div>
                            <label class="input-group-text col-auto" for="pageSize">Items per page</label>
                            <div class="col-auto ps-0 pe-2">
                                <select form="searchForm" name="size" th:value="${pageSize}"
                                    class="form-control size-select me-2" id="pageSize">
                                    <option th:each="s : ${ {5, 10, 20} }" th:value="${s}" th:text="${s}"
                                        th:selected="${s == pageSize}"></option>
                                </select>
                            </div>
                            <div class="col-auto ps-0 pe-0">
                                <button type="submit" class="btn btn-outline-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="mt-2" th:if="${parcels.size() > 0}">
                <table class="table table-hover table-responsive-xl">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Order date</th>
                            <th scope="col" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">Responsible employee
                            </th>
                            <th scope="col">Sender</th>
                            <th scope="col">Receiver</th>
                            <th scope="col">Address</th>
                            <th scope="col">Price</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Status</th>
                            <th scope="col">Status updated at</th>
                            <th scope="col" sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="parcel : ${parcels}">
                            <td th:text="${parcel.id}"></td>
                            <td th:text="${#temporals.format(parcel.orderDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')"
                                th:text="${parcel.registeredBy.user.firstName + ' ' + parcel.registeredBy.user.lastName}">
                            </td>
                            <td th:text="${parcel.sender.user.firstName + ' ' + parcel.sender.user.lastName}"></td>
                            <td th:text="${parcel.receiver.user.firstName + ' ' + parcel.receiver.user.lastName}"></td>
                            <td th:if="${parcel.office != null}" th:text="${parcel.office.address}"></td>
                            <td th:unless="${parcel.office != null}" th:text="${parcel.address}"></td>
                            <td th:text="${parcel.price}"></td>
                            <td>
                                <span th:if="${parcel.isPaid == true}"><i class="fa fa-check"></i></span>
                                <span th:unless="${parcel.isPaid == true}"></span>
                            </td>
                            <td th:text="${parcel.status}"></td>
                            <td th:text="${#temporals.format(parcel.statusLastUpdateDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')">
                                <a th:href="@{/parcels/{id}(id=${parcel.id})}" title="Edit"
                                    class="fa-regular fa-pen-to-square icon-dark"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:unless="${parcels.size() > 0}">
                <span>No parcels found!</span>
            </div>

            <div class="container">
                <div class="row">
                    <div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="col-2"
                        th:text="${'Total paid: ' + totalPaid}"></div>
                    <div sec:authorize="hasAnyAuthority('ADMIN','EMPLOYEE')" class="col-3"
                        th:text="${'Total unpaid: ' + remainingPayment}"></div>
                    <div sec:authorize="hasAnyAuthority('CUSTOMER')" class="col-5"></div>
                    <nav class="col-7" aria-label="Pagination" th:if="${totalPages > 0}">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a th:replace="~{base :: paging('/parcels', 1, '<<', 'First Page')}"></a>
                            </li>
                            <li class="page-item font-weight-bold" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a
                                    th:replace="~{base :: paging('/parcels', ${currentPage - 1}, 'Prev', 'Previous Page')}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item" th:classappend="${page == currentPage} ? 'active'"
                                th:each="page : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}">
                                <a th:replace="~{base :: paging('/parcels', ${page}, ${page}, 'Page ' + ${page})}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                <a class="page-link" href="#">...</a>
                            </li>
                            <li class="page-item font-weight-bold"
                                th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a
                                    th:replace="~{base :: paging('/parcels', ${currentPage + 1},'Next', 'Next Page')}"></a>
                            </li>
                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a th:replace="~{base :: paging('/parcels', ${totalPages}, '>>', 'Last Page')}"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</body>

</html>