<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <div th:replace="~{base :: nav}"></div>

    <div class="container">
        <div class="container row justify-content-center p-5">
            <div class="card w-75 h-75">
                <div class="col col-12 col-md-9 align-self-center">

                    &nbsp;
                    <h1 style="width:100%;text-align:center;position:relative;"><span style="color:#f9a31b;">
                            Logistics Company</span></h1>
                    &nbsp;
                    <p class="mb-9">&emsp;At Logistics Company, we pride ourselves on providing shipping rates that are
                        not
                        only fair and competitive, but also accessible to everyone. We understand that affordable
                        shipping options are crucial for businesses and individuals alike, which is why we offer a wide
                        range of services to meet our customers' diverse needs. With our extensive network of offices
                        located in convenient places, we ensure that our clients can easily access our services and
                        receive the support they need.</p>
                    <p class="mb-9">
                        &emsp; Whether you are looking to transport goods across the country or
                        around the world, Logistics Company is here to provide reliable, efficient, and cost-effective
                        solutions for all your logistical needs.</p>
                    <p class="mb-9">&emsp;Founded in 1972, Logistics Company has been a trusted name in the industry for
                        nearly five
                        decades. From our humble beginnings to our current standing as a
                        leader in the industry, Logistics Company has remained true to its core values of integrity,
                        reliability, and innovation, making us the go-to choice for all your shipping and logistical
                        needs</p>
                    &nbsp;
                    <h4 style="width:100%;text-align:center;position:relative;"><em>Delivering reliability, every step of the way.</em></h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>